<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="signin.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>User Profile</title>
</head>
<body>
	<div class="container">
		<form action="/profile/edit" method="POST">
			<div class="row">
				<div class="col-md-12">
					<h1>Edit your Home and Work Address</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2>Home Address</h2>
					<input type="text" placeholder="Name" name="nameH" value="<%= home.name  %>">
					<input type="text" placeholder="Address" name="addressH" value="<%= home.address %>">
					<input type="text" placeholder="City" name="cityH" value="<%= home.city %>">
					<input type="text" placeholder="State" name="stateH" value="<%= home.state %>">
					<input type="number" placeholder="Zip" name="zipH" value="<%= home.zip %>">				
				</div>
				<div class="col-md-6">
					<h2>Work Address</h2>
					<input type="text" placeholder="Name" name="nameW" value="<%= work.name  %>">
					<input type="text" placeholder="Address" name="addressW" value="<%= work.address %>">
					<input type="text" placeholder="City" name="cityW" value="<%= work.city %>">
					<input type="text" placeholder="State" name="stateW" value="<%= work.state %>">
					<input type="number" placeholder="Zip" name="zipW" value="<%= work.zip %>">	
				</div>
			</div></br>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>
	</div>
</body>
</html>