<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>A simple map</title>
	<style>
	body { margin:0; padding:0; }
	#map { position:relative; top:0; bottom:0; width:100%; height:100%;}
	</style>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.css' rel='stylesheet' />

</head>
<body>
	<div class="container">
		<div class="row maps" >
			<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
				<h1>Home Location</h1>
				<div id='map' style="height:400px;"></div>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
				<h1>People in Your Neighborhood</h1>
				<ul style="list-style: none;">
					<li>key: <%= key %> <%= home.fullAdd  %></li>
				</ul>
			</div>
		</div></br>
		<div class="row maps" >
			<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
				<h1>Work Location</h1>
				<div id='map2' style="height:400px;"></div>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>
		</div>
	</div>
	<script>
	L.mapbox.accessToken = '<%= key %>';
	var map = L.mapbox.map('map', 'examples.map-i86nkdio')
	.setView([40, -74.50], 9);
	var map2 = L.mapbox.map('map2', 'examples.map-i86nkdio')
	.setView([40, -74.50], 9);
	var geocoder = L.mapbox.geocoder('mapbox.places');
	
	geocoder.query('<%= home.fullAdd  %>', showMap);
	geocoder.query('<%= work.fullAdd  %>', showMapTwo);

	function showMap(err, data) {
    // The geocoder can return an area, like a city, or a
    // point, like an address. Here we handle both cases,
    // by fitting the map bounds to an area or zooming to a point.
    	if (data.lbounds) {
    		map.fitBounds(data.lbounds);
   		} else if (data.latlng) {
    		map.setView([data.latlng[0], data.latlng[1]], 13);
 	    }
		L.mapbox.featureLayer({
		    // this feature is in the GeoJSON format: see geojson.org
		    // for the full specification
		    type: 'Feature',
		    geometry: {
		        type: 'Point',
		        // coordinates here are in longitude, latitude order because
		        // x, y is the standard for GeoJSON and many formats
		        coordinates: [
		          data.latlng[1], data.latlng[0] 
		        ]
		    },
		    properties: {
		        title: '<%= home.name  %>',
		        description: 'Home location of <%= home.name %>',
		        // one can customize markers by adding simplestyle properties
		        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
		        'marker-size': 'large',
		        'marker-color': '#000',
		        'marker-symbol': 'building'
		    }
		}).addTo(map);
	};

	function showMapTwo(err, data) {
    // The geocoder can return an area, like a city, or a
    // point, like an address. Here we handle both cases,
    // by fitting the map bounds to an area or zooming to a point.
    	if (data.lbounds) {
    		map2.fitBounds(data.lbounds);
   		} else if (data.latlng) {
    		map2.setView([data.latlng[0], data.latlng[1]], 13);
 	    }

		L.mapbox.featureLayer({
		    // this feature is in the GeoJSON format: see geojson.org
		    // for the full specification
		    type: 'Feature',
		    geometry: {
		        type: 'Point',
		        // coordinates here are in longitude, latitude order because
		        // x, y is the standard for GeoJSON and many formats
		        coordinates: [
		          data.latlng[1], data.latlng[0] 
		        ]
		    },
		    properties: {
		        title: '<%= work.name  %>',
		        description: 'Work place of <%= home.name %>',
		        // one can customize markers by adding simplestyle properties
		        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
		        'marker-size': 'large',
		        'marker-color': '#000',
		        'marker-symbol': 'suitcase'
		    }
		}).addTo(map2);
	};

	</script>
</body>
</html>